@charset "utf-8";

body{overflow-y: hidden;}
.header{position: fixed;left: calc(50% - 65px);top:3%;width: 125px;animation:nata 1s 4s linear forwards;opacity: 0;z-index: 99;}
.header a{color:#0e111c;font-size: 25px;font-weight: 900;letter-spacing: -1px;}
.nav{position: fixed;animation:nata 1s 4s linear forwards;opacity: 0;z-index: 999;}
.nav .menubox{position:fixed;left:5%;top:50px;z-index: 1;}
.nav .menubox .menu{position: relative;z-index: 11; display:block;width: 50px;height: 30px;text-align: center;font-size:0;}
.nav .menubox .menu span{opacity:1; display: inline-block;width:4px;height:30px;transform: skew(-20deg);background:#0e111c;transition: 0.5s;}
.nav .menubox .menu:before{display: inline-block;position: absolute;left: 10px;top:0;width:4px;height:30px;transform: skew(-20deg);background:#0e111c;content:'';transition: 0.5s;}
.nav .menubox .menu:after{display: inline-block;position: absolute;right: 10px;top:0;width:4px;height:30px;transform: skew(-20deg);background:#0e111c;content:'';transition: 0.5s;}
.nav .menubox .menuitem{position: fixed;left: -100%;top: 0;width:100%;height:100%;background: linear-gradient(90deg,#090c17 30%,transparent);z-index: 10;transition: 0.5s;}
.nav .menubox .menuitem .contbox{position: absolute;left: 5%;bottom:5%;}
.nav .menubox .menuitem .contbox .name{display:block;color: #9398ab;font-size: 15px;}
.nav .menubox .menuitem .contbox .ename{display:block;color: #858ca7;font-size: 14px;font-weight: 300;}
.nav .menubox .menuitem .contbox .slo{display:block;margin:10px 0;color: #858ca7;font-size: 13px;font-weight: 200;}
.nav .menubox .menuitem ul{position:absolute;left:20%;bottom:calc(50% - 140px);}
.nav .menubox .menuitem ul li a{position: relative; display:block;color:transparent;-webkit-text-stroke:1px #fff;font-size:60px;font-weight: 900;}
.nav .menubox .menuitem ul li a:after{overflow: hidden; position: absolute;left:0;top:0;width:0;color:#fff;transition:0.5s;}
.nav .menubox .menuitem ul li:nth-child(1) a:after{content: 'SKILL';}
.nav .menubox .menuitem ul li:nth-child(2) a:after{content: 'PROJECT';}
.nav .menubox .menuitem ul li:nth-child(3) a:after{content: 'WORK';}
.nav .menubox .menuitem ul li:nth-child(4) a:after{content: 'CONTACT';}
.nav .menubox .menuitem ul li a:hover:after,
.nav .menubox .menuitem ul li a:focus:after{width:100%;}
.nav .menubox.on .menu span{opacity:0;}
.nav .menubox.on .menu:before{left:27px;background:#fff;transform: skew(-30deg);}
.nav .menubox.on .menu:after{right:18px;background:#fff;transform: skew(30deg);}
.nav .menubox.on .menuitem{left:0;}
.nav .file{position:fixed;left:5%;bottom:7%;display: inline-block;font-size:0;}
.nav .file:after{overflow:hidden;position: absolute;left: 51px;top: 10px;width:0;content: '이력서 보기';font-size: 16px;color:#0e111c;white-space: nowrap;transition: 0.3s;font-weight: 600;letter-spacing: -1px;}
.nav .file span{display:inline-block;width: 40px;height: 40px;background: url(/images/notion.png)center no-repeat;background-size: 100%;}
.nav .file:hover:after,
.nav .file:focus:after{width:200%;}

.section{height:100vh;}

.intro{height:100vh;}
.intro .main-txt{overflow: hidden;display: flex;justify-content: center;align-items: center;height:100%;}
.intro .main-txt .title{position: relative;height:350px;}
.intro .main-txt .title .typing-txt{display:none;}
.intro .main-txt .title .typing{font-size: 10em;font-weight: 900;white-space:nowrap;letter-spacing: -10px;color:#0e111c;animation:txt1 1s ease-in forwards;}

.cont02{display:none;}
.cont02 .move-text{position: relative;display: flex;justify-content: center;align-items: center;height:100%;font-size:200px;transition: 0.5s;}
.cont02 .move-text .txtwrap .ftext{display: inline-block;vertical-align: top; color:#325efe;font-weight: 900;}
.cont02 .move-text .txtwrap ul{overflow: hidden; position: relative;left:-55px;display: inline-block;vertical-align: top;height:260px;width:1330px;font-weight: 900;}
.cont02 .move-text .txtwrap ul li{overflow: hidden; opacity: 0; position: absolute;left:0;top:0;width:0; color:#0e111c;letter-spacing: -10px;transition: 0.5s;}
.cont02 .move-text .txtwrap ul li.on{opacity:1;width:100%;animation:cont02_1 0.4s 0.3s ease-in forwards;}
.cont02 .move-text .txtwrap ul li:last-child{animation:none;}
.cont02 .move-text .txtcont{display:none;}
.cont02 .move-text .txtcont .pub{font-size: 40px;display: block;margin: 10px 0;font-weight: 900;}
.cont02 .move-text .txtcont p{font-weight: 300;font-size: 17px;line-height: 1.5;letter-spacing: -1px;}
.cont02 .move-text .txtcont ul{margin: 25px 0;}
.cont02 .move-text .txtcont ul li{overflow: hidden;width:0; margin: 10px 0;white-space:nowrap;font-size: 18px;font-weight: 300;letter-spacing: -1px;}
.cont02 .move-text .txtcont ul li:nth-child(1){animation:txtli 0.5s 0.3s linear forwards;}
.cont02 .move-text .txtcont ul li:nth-child(2){animation:txtli 0.5s 0.4s linear forwards;}
.cont02 .move-text .txtcont ul li:nth-child(3){animation:txtli 0.5s 0.5s linear forwards;}
.cont02 .move-text .txtcont ul li:nth-child(4){animation:txtli 0.5s 0.6s linear forwards;}
@keyframes txtli{
    0%{width:0;}
    100%{width:100%;}
}
.cont02 .move-text .txtcont ul li span{display:inline-block;position: relative;font-weight: 700;}
.cont02 .move-text .txtcont ul li span:before{display:inline-block;position: absolute;left:0;bottom: -4px;height:2px;width:100%;background:#000;content:'';}
.cont02 .move-text .txtcont ul li .bx{margin-right:5px;font-size: 30px;position: relative;top: 6px;}

.cont02.on .move-text{display: block;max-width: 1200px;margin: 0 auto;}
/* .cont02.on .move-text .txtwrap{opacity:0;display: none;} */
.cont02.on .move-text .txtcont{display: inline-block;padding-top:calc(50% - 150px);}

.cont03{display:flex;align-items: center;}
.cont03 .txtwrap{width:100%;margin-left: 50%;}
.cont03 .txtwrap .skilltit{display:block;margin-bottom:30px;font-size:40px;font-weight: 900;}
.cont03 .txtwrap ul li{padding-left:5px;margin: 16px 0;font-size: 25px;font-weight: 200;}
.cont03 .txtwrap ul li strong{display:inline-block;margin-right: 10px;}

.cont04 .worktit{display: block;margin-bottom:50px;font-size:40px;font-weight: 900;}
.cont04 ul{position: relative; font-size:0;}
.cont04 ul:after{display: inline-block;position: absolute;left: 0;bottom: 70px;width: 100%;height: 20%;background: linear-gradient(180deg,transparent,#fff 70%);content: '';z-index: 1;}
.cont04 ul li{display: inline-block;vertical-align:top;width:calc(33.3% - 60px);margin:0 80px 80px 0;}
.cont04 ul li:nth-child(3n){margin-right:0;}
.cont04 ul li a{position:relative; display:block;width:100%;height:424px;box-sizing: border-box; color:#000;}
.cont04 ul li .item{background:#fff;box-shadow:0 0 20px rgb(0 0 0 / 5%);border-radius: 30px;backface-visibility: hidden;transition: 0.5s;}
.cont04 ul li .unitem{width:100%;height:100%;background-repeat: no-repeat;transform: rotateY(0);}
.cont04 ul li .onitem{padding:50px;position: absolute;left: 0;top: 0;width: calc(100% - 100px);height: calc(100% - 100px);transform: rotateY(180deg);}
.cont04 ul li .onitem:after{display: inline-block;position: absolute;right: 35px;top: 30px;content:"\eda9";font-family: 'boxicons'!important;font-size: 20px;color: #325ffe;}
.cont04 ul li .onitem strong{display:block;margin:50px 0 20px;font-size:30px;color:#325efe;}
.cont04 ul li .onitem span{display:block;font-size:18px;}
.cont04 ul li .onitem p{position:absolute;left:50px;bottom:50px; font-size:18px;font-weight: 200;}
.cont04 ul li:nth-child(1) .unitem{background-image: url(/images/work_img01.jpg);}
.cont04 ul li:nth-child(2){margin-top:80px;}
.cont04 ul li:nth-child(2) .unitem{background-image: url(/images/work_img02.jpg);}
.cont04 ul li:nth-child(4),.cont04 ul li:nth-child(6){margin-top:-80px;}
.cont04 ul li:nth-child(3) .unitem{background-image: url(/images/work_img03.jpg);}
.cont04 ul li:nth-child(4) .unitem{background-image: url(/images/work_img04.jpg);}
.cont04 ul li:nth-child(5) .unitem{background-image: url(/images/work_img05.jpg);}
.cont04 ul li:nth-child(6) .unitem{background-image: url(/images/work_img06.jpg);}
.cont04 ul li a:hover .unitem,
.cont04 ul li a:focus .unitem{transform: rotateY(180deg);}
.cont04 ul li a:hover .onitem,
.cont04 ul li a:focus .onitem{transform: rotateY(0);}
.cont04 .morebtn{text-align: center;display:block;margin-bottom:50px;}
.cont04 .morebtn a{position:relative; display: inline-block;padding-bottom:10px;font-size:30px;color:#000;font-weight: 900;letter-spacing: -1px;}
.cont04 .morebtn a:before{display: inline-block;position: absolute;left:0;bottom:0;width:0;height:5px;background:#000;content:'';transition: .5s;}
.cont04 .morebtn a:hover:before,
.cont04 .morebtn a:focus:before{width:100%;}

.cont05{display: flex;align-items: center;}
.cont05 .worktit{display:block;margin-bottom:100px;text-align:center;font-size:40px;font-weight: 900;}
.cont05 .work-left{position: relative;left:-20%; display:inline-block;vertical-align: middle;}
.cont05 .work-left .svgwrap{position: absolute;left: -150px;top: -70px;display:inline-block;width: 630px;height: 380px;z-index:-1;opacity:1;transition:0.5s;}
.cont05 .work-left .svgwrap svg path{d:path('M2124.4,401.5c-98.3-83.9-216.8-589.6-622.8-326.2C1291.8,211.4,938-41.5,645.3,45.8C376.4,126,350.5,390.4,376.5,476.5c52.6,174-111,199.9-262.7,274.6c-238,117.3-63,529.3,161.8,531.3c224.8,2,1586.8-3.9,1586.8-3.9s326.6,0.8,462.4-179.4C2470.9,905.1,2378.3,618.1,2124.4,401.5z');
    animation: morph 10s linear alternate infinite;fill:#d8e4ff;}
.cont05 .work-left .wtxt{opacity:0;position: absolute;left: 0px;top:0;width:100%;height: 340px;background: rgba(255,255,255,0.95);display: flex;align-items: center;justify-content: center;transition: 0.5s 0.1s;}
.cont05 .work-left .wtxt ul li{margin:5px 0;}
.cont05 .work-left.on .wtxt{opacity: 1;}
.cont05 .work-left.on .svgwrap{opacity: 0;}
.cont05 .work-right{display: inline-block;vertical-align: middle;}
.cont05 .work-right a{display:block;color:#000;}
.cont05 .work-right a .txt{display:block;margin-bottom:10px;font-size:20px;}
.cont05 .work-right a .date{display:block;margin-bottom:50px;font-weight: 200; font-size:18px;}
.cont05 .work-right a .moreview{position: relative;display:inline-block;padding-bottom:10px; font-weight: 900;font-size:20px;}
.cont05 .work-right a .moreview:before{display:inline-block; position: absolute;left:0;bottom:0;width:0;height:5px;background:#000;content:'';transition: 0.5s;}
.cont05 .work-right a:focus .moreview:before,
.cont05 .work-right a:hover .moreview:before{width:100%;}


.cont06{padding:100px 0; background: linear-gradient(45deg,#0e111c,#051861);color: #fff;}
.cont06 .tit{display:inline-block;width:60%;vertical-align: top; font-weight: 900;font-size:50px;}
.cont06 .cont-box{display:inline-block;width:20%;vertical-align: top;}
.cont06 .cont-box ul li{display:block;margin:10px 0;font-size:18px;}
.cont06 .cont-box ul li a{color:#fff;display:inline-block;font-weight: 200;}
.cont06 .cont-box ul li a .bx{margin-left:7px;font-size:13px;}
.cont06 .cont-box ul li span{font-weight: 200;}
 
/* animation */
@keyframes nata{
    0%{opacity: 0;}
    100%{opacity: 100%;}
}
@keyframes txt1{
    0%{height:100%;}
    100%{height:0;}
}
@keyframes mimo{
    0%{opacity: 0;transform: scale(2) rotate(0);}
    50%{transform: scale(1.5) rotate(0deg);}
    70%{transform: scale(1.2) rotate(30deg);}
    100%{opacity:1;transform: scale(1) rotate(0);}
}
@keyframes cont02_1{
    0%{width:100%;}
    100%{width:0;}
}
@keyframes morph {
    0%, 100%{
        d:path('M2124.4,401.5c-98.3-83.9-216.8-589.6-622.8-326.2C1291.8,211.4,938-41.5,645.3,45.8C376.4,126,350.5,390.4,376.5,476.5c52.6,174-111,199.9-262.7,274.6c-238,117.3-63,529.3,161.8,531.3c224.8,2,1586.8-3.9,1586.8-3.9s326.6,0.8,462.4-179.4C2470.9,905.1,2378.3,618.1,2124.4,401.5z');
    }
    50%{
        d:path('M1912.9,514.8C1771.9,359.3,1926.3,0,1417.3,0c-250,0-373.2,33-669.8,106.3c-198.7,49.1-348.3,252.3-371,370.2c-33.5,173.7-111,199.9-262.7,274.6c-238,117.3-63,529.3,161.8,531.3c224.8,2,1586.8-3.9,1586.8-3.9s421.4,42.5,462.4-179.4C2394.3,722.5,2065,682.7,1912.9,514.8z')
    } 
}



